body {
	display: flex;
	border: 0;
	box-sizing: border-box;
	font-family: 'Arvo', serif;
	margin: 0;
}

.left {
	display: flex;
	width: 66.3333%;
	height: 100vh;
	flex-wrap: wrap;
}

.right {
	background-image: url(images/edit-photo.jpg);
	background-repeat: no-repeat;
	background-size: 665px 1008px;
	display: flex;
	flex-wrap: wrap;
	width: 33.4444%;
/*	height: 100vh;*/
}

.top {
	display: flex;
	justify-content: flex-start;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

img {
	height: 100px;
	width: 100px;
	color: white;
	opacity: 0.65;
}

header {
	display: flex;
	width: 66.66666%;
	background-color: #607D8B;
	height: 33.3333%;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-between;
	
}

button:hover {
	background-color: #b0bd97;
}

.photo{
		opacity: 100;
}

h3 {
	font-family: 'UnifrakturCook', cursive;
	font-size: 3vw;
	margin-bottom: .45px;
	margin-left: 20px;
}

.info {
	font-size: 12pt;
	margin-left: 20px;
	width: 90%;
	margin-bottom: 30px;
}

div {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 55px;
	margin-left: 20px;
}

button {
	border: none;
	background-color: lightgray;
	font-size: 18px;
	height: 50px;
	margin-right: 20px;
	width: 171px;
}

.button-icons {
	height: 15px;
	width: 15px;
	margin-bottom: -1px;
    padding-right: 5px;
}

p {
	flex-wrap: wrap;
	font-size: 1vw;
	align-items: center;
	justify-content: center;
	font-size: 19px;
}


.foto{
	display: none;
	    width: 100%;
    height: 290px;
}

.box {
	display: flex;
	width: 33.3333%;
	height: 33.3333%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

#box1:hover {
	background-color: #6f6649;
}

#box1 {
	background-color: #BDBDBD;
}

#box2:hover {
	background-color: #6f6649;
}

#box2 {
	background-color: #616161;
}

#box3:hover {
	background-color: #6f6649;
}

#box3 {
	background-color: #9e9f7f;
}

#box4:hover {
	background-color: #6f6649;
}

#box4 {
	background-color: #607D8B;
}

#box5:hover {
	background-color: #6f6649;
}

#box5 {
	background-color: #9E9E9E;
}

#box6:hover {
	background-color: #6f6649;
}

#box6 {
	background-color: #616161;
}

#box7:hover {
	background-color: #6f6649;
}

#box7 {
	background-color: #9E9E9E;
}

.right-icon {
	height: 35px;
	width: 35px;
}

.porter {
	padding-right: 20px;
}

.bottom-arrows {
	display: flex;
	display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;

}

.top-button {
	width: 100%;
	 display: flex;
    justify-content: flex-end;
    padding-right: 9px;
}

@media screen and (max-width: 925px) {

p {
	font-size: 15px;
}


}
@media screen and (max-width: 768px) {

body {
	display: flex;
	flex-wrap: wrap;
}
.right {
	display: none;
/*	background-size: 500px;*/
	/*display: flex;*/
/*	width: 100%;
	height: 100vh;*/
}

.left {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-wrap: wrap;
}

.foto {
	visibility: visible;
	display: inline-block;
	width: 99.9vw;
	margin-bottom: -5px;
}

h3 {
	font-size: 25pt;
}

button {
	flex-wrap: wrap;
}

p {
	font-size: 15px;
}


.bottom-arrows {
	display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;

}

@media screen and (max-width: 558px) {


.box {
	width: 100%;
	display: flex;
    height: 33.3333%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
header {
	width: 100%;
}

button {
	height: 33px;
}

h3 {
	font-size: 32pt;
}

.button-icons {
	 padding: 0px;
     margin-right: 8px;
}

p {
	font-size: 27px;
    padding-right: 45px;
}

img {
	height: 100px;
    color: white;
    opacity: 0.65;
    padding-left: 40px;
    padding-right: 30px;
}

.foto {
	padding: 0pc;
}

















